<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="https://preview.webpixels.io/web/img/logos/clever-light.svg" class="h-8" alt="...">
    </a>
    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <div class="navbar-nav mx-lg-auto">
        <a class="nav-item nav-link active" href="#" aria-current="page">Home</a>
        <a class="nav-item nav-link" href="http://localhost:4200/about">About</a>
        <!-- <a class="nav-item nav-link" href="#">Categories</a> -->
        <a class="nav-item nav-link" href="http://localhost:4200/contact">Contact Us</a>
      </div>
      <!-- Right navigation -->
      
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <!-- <a routerLink=""class="btn btn-sm btn-primary w-full w-lg-auto">
          Logout
        </a> -->
      </div>
    </div>
  </div>
</nav>
<div class="about-section">
    <h1>About Us </h1>
    <p>We are start this site to introduces the stories of Leo Tolstoy.</p>
    <p>And we are helping you to get the Novels & Stories in a single click!</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://i.postimg.cc/nVmV2nNB/bea8b514-2eba-4cc6-8df2-12f7d446d05d.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Aswin vijay</h2>
          <p class="title">CEO & Founder</p>
          <p> </p>
          <p>aswinvijay@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://i.postimg.cc/nrfJgQN7/photo-as-passport-young-man-with-stylish-haircut-295783-869.webp" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title"> Technique Editor</p>
          <p></p>
          <p>mike@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://i.postimg.cc/y8pzBGw7/Korean-Passport-ID-Photo-Studio-1.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Developer</p>
          <p></p>
          <p>john@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
       
  
       
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <p class="text-white" > Clever Books Technologies Private Limited. | All Rights Reserved with Copyright & TradeMarks</p>
    </div>
    <!-- Copyright -->
  </footer>