

<div id="j">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3">
    <div class="container-xl">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="https://preview.webpixels.io/web/img/logos/clever-light.svg" class="h-8" alt="...">
      </a>
      <!-- Navbar toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Nav -->
        <div class="navbar-nav mx-lg-auto">
          <a class="nav-item nav-link active" href="#" aria-current="page">Home</a>
          <a class="nav-item nav-link" routerLink="about">About</a>
          <!-- <a class="nav-item nav-link" href="#">Categories</a> -->
          <a class="nav-item nav-link" routerLink="contact">Contact Us</a>
        </div>
        <!-- Right navigation -->
        
        <!-- Action -->
        <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
          <a routerLink=""class="btn btn-sm btn-primary w-full w-lg-auto">
            Logout
          </a>
        </div>
      </div>
    </div>
  </nav>
  <div>
    <p id="j7">Hai..{{user}}</p> 
    <p id="j2">  Welcome To The Book World Of Leo Tolstoy </p>
    <div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img id="j3"src="https://i.postimg.cc/DwJ6XTkm/war-and-peace-166.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">War & Peace</h5>
        <p class="card-text">War and Peace is a literary work by the Russian author Leo Tolstoy that mixes fictional narrative with chapters on history and philosophy. It was first published serially, then published in its entirety in 1869</p>
        <button type="button"  class="btn btn-outline-primary"><a href="http://localhost:4200/leo">Read More</a></button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img id="j3"src="https://i.postimg.cc/QCVDgtJR/61h5po70-L0-L.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">The Path Of Life</h5>
        <p class="card-text">He is considered one of the greatest novelists in any language in all of human history, but Leo Tolstoy was also an influential social reformer, peace advocate, and spiritual philosopher. Here, he collects pearls of wisdom</p>
        <button type="button" class="btn btn-outline-primary">Read More</button>
       </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img id="j3"src="https://i.postimg.cc/cLKf6ByS/portfolio.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Anna Karenina</h5>
        <p class="card-text">Anna Karenina is a novel by the Russian author Leo Tolstoy, first published in book form in 1878. Widely considered to be one of the greatest works of literature ever written, Tolstoy himself called it his first true novel.</p>
      
        <button type="button" class="btn btn-outline-primary">Read More</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img id="j3"src="https://i.postimg.cc/2596WP49/what-men-live-by-and-other-tales.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">What Men Live By</h5>
        <p class="card-text">"What Men Live By" is a short story written by Russian author Leo Tolstoy in 1885. It is one of the short stories included in his collection What Men Live By, and Other Tales, published in 1885It is one of the short stories included in his collection </p>
        <button type="button" class="btn btn-outline-primary">Read More</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img id="j3"src="https://i.postimg.cc/fWdzWHbs/8188jpenx5-L.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">The Death of Ivan Ilyich</h5>
        <p class="card-text">The Death of Ivan Ilyich, first published in 1886, is a novella by Leo Tolstoy, considered one of the masterpieces of his late fiction, written shortly after his religious conversion of the late 1870s.The Death of Ivan Ilyich tells the story of a high-court judge .</p>
      
        <button type="button" class="btn btn-outline-primary">Read More</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img id="j3"src="https://i.postimg.cc/ZqrktQcs/hadji-murad-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hadji Murat </h5>
        <p class="card-text">Hadji Murat is a novella written by Leo Tolstoy from 1896 to 1904 and published posthumously in 1912. It titular protagonist Hadji Murat is an Avar rebel commander who, for reasons of personal revenge, forges an uneasy alliance with the Russians  </p>
      
        <button type="button"  class="btn btn-outline-primary">Read More</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
     

      <!-- Github -->
      
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <p class="text-white" > Clever Books Technologies Private Limited. | All Rights Reserved with Copyright & TradeMarks</p>
  </div>
  <!-- Copyright -->
</footer>